/* Generic CSS*/

.tab {
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.btn {
  border: 2px solid black;
  background-color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  width: 250px;
  border-color: #2196f3;
  color: dodgerblue;
}
.btn:hover {
  background: #2196f3;
  color: white;
}
